<div class="container wb" id="estatisticas">
	<div class="row centered">

		<br><br>

		<div class="col-md-12">

			<h3><b>ÚLTIMOS NÚMEROS DA SORTE QUE FORAM GERADOS</b></h3>
			<p>Confira os últimos números da sorte que o <b>Bolão da Mega</b> tem gerado.</p>
			<p><br></p>
			
			<br>
			
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Concurso</th> 
							<th>Dezena 01</th> 
							<th>Dezena 02</th> 
							<th>Dezena 03</th> 	
							<th>Dezena 04</th> 
							<th>Dezena 05</th> 
							<th>Dezena 06</th> 
						</tr>
					</thead>	
					<tbody>
						<tr>
							<td>1500</td> 
							<td>1</td> 
							<td>2</td> 
							<td>3</td> 
							<td>4</td> 
							<td>5</td> 
							<td>6</td> 
						</tr>
					</tbody>					
				</table>
			</div>

			<br>
			<div align="right">
				<a href="#">Mais Números</a>
			</div>	
			<br><br><br>

		</div>
	</div>
</div>